.dashboard-container {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #dc3545;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  